{% extends 'accounts/main.html' %}
{% load static %}

<{% block head %} 
    <title>Register</title>
{% endblock head %}

{% block content %}

<div class='form-register'>
    <form class="needs-validation" novalidate="" method="POST">
        {% csrf_token %}
        <div class="text-center">
            <a class="nav-link" href="{% url 'store' %}">
                <img class="mb-4" src="{% static 'images/main.svg' %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Ariantxa Store</h1>
            </a>
        </div>
        
        <div class="mb-3">
            <label for="id_username">Username</label>
            {{form.username}}
        </div>

        <div class="mb-3">
            <label for="id_email">Email</label>
            {{form.email}}
            <div class="invalid-feedback">
                {{form.email.error}}
            </div>
        </div>

        <div class="mb-3">
            <label for="id_password1">Password</label>
            {{form.password1}}
        </div>

        <div class="mb-3">
            <label for="id_password2">Repeat Password</label>
            {{form.password2}}
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Register Account</button>

        <div class="mb-3">
            <p>{{form.errors}}</p>
        </div>
    </form>

    <hr class="mb-4">

    <div class="text-center mb-4">
        <p>It is registered. Go to <a href="{% url 'login' %}">login</a>.</p>
    </div>
</div>
{% endblock content %}