{% extends 'accounts/main.html' %}
{% load static %}

<{% block head %} 
    <title>Password reset sent</title>
{% endblock head %}

{% block content %}

<div class='form-register'>
    <form class="needs-validation" novalidate="" method="POST">
        {% csrf_token %}
        <div class="text-center">
            <a class="nav-link" href="{% url 'store' %}">
                <img class="mb-4" src="{% static 'images/main.svg' %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Ariantxa Store</h1>
            </a>
        </div>
        
        <div class="text-center mb-3">
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>

        <div class="mb-3">
            <p>{{form.errors}}</p>
        </div>
    </form>
    
</div>

<script type="text/javascript">
    const emailInput = document.getElementById('id_email')
    emailInput.placeholder = "Email address"
    emailInput.className += " form-control"
</script>
{% endblock content %}