{% extends 'accounts/main.html' %}
{% load static %}

<{% block head %} 
    <title>Password reset complete</title>
{% endblock head %}

{% block content %}

<div class='form-register'>
    <form class="needs-validation" novalidate="" method="POST">
        {% csrf_token %}
        <div class="text-center">
            <a class="nav-link" href="{% url 'store' %}">
                <img class="mb-4" src="{% static 'images/main.svg' %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Ariantxa Store</h1>
            </a>
        </div>
        
        <div class="text-center mb-3">
            <p>
                Your password has been set. You may go ahead and log in now.
            </p>
            
        </div>

        <div class="mb-3">
            <p>{{form.errors}}</p>
        </div>
    </form>

    <hr class="mb-4">

    <div class="text-center mb-4">
        <p>Go to <a href="{% url 'login' %}">login</a>.</p>
    </div>
</div>

{% endblock content %}