{% extends 'accounts/main.html' %}
{% load static %}

<{% block head %} 
    <title>Enter new password</title>
{% endblock head %}

{% block content %}

<div class='form-register'>
    <form class="needs-validation" novalidate="" method="POST">
        {% csrf_token %}
        <div class="text-center">
            <a class="nav-link" href="{% url 'store' %}">
                <img class="mb-4" src="{% static 'images/main.svg' %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Ariantxa Store</h1>
            </a>
        </div>
        
        <div class="mb-3">
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>
       
        <div class="mb-3">
            <label for="id_new_password1">New Password</label>
            {{form.new_password1}}
        </div>

        <div class="mb-3">
            <label for="id_new_password2">Confirm Password</label>
            {{form.new_password2}}
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Change my password</button>

        <div class="mb-3">
            <p>{{form.errors}}</p>
        </div>
    </form>

</div>

<script type="text/javascript">
    const passwordInput = document.getElementById('id_new_password1')
    passwordInput.placeholder = "New password"
    passwordInput.className += " form-control"
    
    const passwordConfirmInput = document.getElementById('id_new_password2')
    passwordConfirmInput.placeholder = "New password"
    passwordConfirmInput.className += " form-control"

</script>
{% endblock content %}